body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 255, 151);
    color: black;
}

.container{
    width: 700px;
    margin: 40px auto;
    background-color: rgb(216, 176, 253);
    padding: 30px;
    border-radius: 15px;
}

h1{
    text-align: center;
    color: antiquewhite;
}

img{
    display: block;
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: 25px auto;
    border-radius: 15px;
}
h2{
    color: aliceblue;
    margin-top: 25px;
}

li{
    margin-bottom: 8px;
}